.focused{
	outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%) !important;
}

.errorlist li{
	color: #6fe2c1;
}

.bg-custom{
	background-color: #563d7c;
}

.bg-footer{
	background-color: #ffffff;
}