{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="container-fluid d-flex flex-column vh-100 mh-100 overflow-hidden">
        <div class="row flex-grow-1 overflow-hidden">
            <!-- Filters -->
            <div class="col-sm-2 mh-100 overflow-auto pb-5 pt-1" style="border-color: black;">
                {% include 'filter.html' %}
            </div>
            <div class="col-sm-10 mh-100 overflow-auto pb-5" id="filteredArticles">

                {% include 'article_cards.html' %}

            </div>
        </div>
    </main>

    {% include 'modal_window.html' %}
{% endblock %}