{% load static %}

<script type="text/javascript"></script>
<!-- Filter 1 -->
{% for category, subcategories in view_item.items %}
    <div class="card border-secondary mb-4">
        <h6 class="card-header">{{ category }}</h6>
        <div class="list-group list-group-flush">
            {% for label in subcategories %}
                <li class="list-group-item border-0 pb-0">
                    <label class="custom-control overflow-checkbox">
                        <input id="articleSelect" data-label={{ label }} type="checkbox"
                               class="overflow-control-input filter-checkbox-{{ label }}"
                               checked=""
                               value="{{ label }}">
                        <span class="overflow-control-indicator"></span>
                        <span class="overflow-control-description">{{ label }}</span>
                    </label>
                </li>
            {% endfor %}
        </div>
    </div>

{% endfor %}

