{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}VisBioMed</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css">
		<link rel="stylesheet" href="{% static 'main.css' %}">
		{% if env_name == 'production' %}
      	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    	{% else %}
      	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    	{% endif %}
	</head>

	<body>
		<nav class="navbar is-dark" id="navbarapp">
			<div class="navbar-brand">
				<a class="navbar-item">VisBioMed</a>

				<a @click="toggleMenu()" role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="main-navbar" class="navbar-menu" :class="{ 'is-active': menuClass }">
				<div class="navbar-start">
					<div class="navbar-item">
						<form method="get">
							<div class="field has-addons">
								<div class="control">
									<input type="text" class="input" placeholder="Search..." name="query">
								</div>
								<div class="control">
									<button class="button is-success">Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="navbar-item">
					<div class="buttons">
						<a class="button is-primary"><strong>Sign up</strong></a>
						<a class="button is-light">Log in</a>
					</div>
				</div>

			</div>
		</nav>

		<section class="section">
			{% block content %}
            {% endblock %}
		</section>



    <footer class="pt-4 my-md-5 pt-md-5 border-top container">
    <div class="row">
        <div class="col-12 col-md">
        <a href="#">VisBioMed</a>
        <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div>
        <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
        </div>
    </div>
    </footer>

	</body>
</html>
