<div class="card-body" id="articleEmbeddingView" data-article="{{ article_title }}">
    <div style="z-index: 10; position: absolute;" class="row w-75">
        <div class="form-group ml-lg-5">
            <select name="model" id="selDataset" class="form-control chosen-select">
                <option value="sentence_transformer_average">Sentence Transformer - all-MiniLM-L6-v2</option>
                <option value="sapBERT">SapBERT-from-PubMedBERT-fulltext</option>
                <option value="biowordvec">BioWordVec_PubMed_MIMICIII_d200</option>
            </select>
        </div>
    </div>
    <div id="myDiv" style="z-index: 8">
        <div class="d-flex justify-content-center" style="padding-top: 12rem">
            <div class="spinner-border text-danger text-center" style="width: 3rem; height: 3rem;top: 10rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

</div>
<script>
    $(".chosen-select").chosen({disable_search_threshold: 10});
    $("#surveyModel").chosen();
</script>