<!-- Articles -->
{% if data %}
    <div class="row" id="articleEmbeddingView" data-article="{{ article_title }}" style="width: 70%; height: 45%">

        <div id="myDiv" style="width: 100%">
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    {% include 'article_page_view.html' %}


{% else %}
    <div class="align-content-center text-center">
        <b class="no-results"><i class="fa fa-sad-tear"></i> Sorry!! Could not find articles related to your
            search</b>
    </div>
{% endif %}