{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="container-fluid d-flex flex-column vh-100 mh-100 overflow-hidden">
        <div class="row flex-grow-1 padding-0 overflow-hidden">
            <!-- Filters -->
            <div class="col-sm-2 mh-100 padding-0">
                {% include 'filter.html' %}
            </div>
            <div class="col-sm-10 mh-100 padding-0 filter">
                <div class="row pl-4 w-100">
                    <header class="col-sm-6 custom-title">
                        <h1 id="title"><a href="https://diglib.eg.org/handle/10.2312/463" target="_blank">BioMedVis</a></h1>
                        <small><a href="https://diglib.eg.org/handle/10.2312/463" target="_blank">VCBM: Eurographics
                            Workshop on
                            Visual Computing for Biomedicine
                        </a>
                        </small>
                    </header>


                    <div class="form-inline justify-content-end col-sm-6 pr-3 w-75">
                        <div class="input-group search-box w-100">
                            <input id="searchArticle" name="q" class="form-control custom_search"
                                   placeholder="Find your articles here...."
                                   aria-label="Search for..." type="search">

                        </div>

                    </div>
                </div>


                <div id="filteredArticles" class="article-section pb-4 pl-4">
                    {% include 'component_view.html' %}
                </div>
                <footer class="footer bg-footer custom-bottom">

                    <div class="footer-copyright text-center py-3">
                        <small>© 2022 Copyright:
                            made with
                            <span style="color: red; font-size: 18px">&#10084;</span> by -
                            <a target="_blank" href=""> Pruthvi </a>
                        </small>
                    </div>

                </footer>


            </div>
        </div>

    </main>

    {% include 'modal_window.html' %}
{% endblock %}