.errorlist li {
    color: #6fe2c1;
}

.bg-custom {
    background-color: #1C2862;
}

.bg-footer {
    background-color: #ffffff;
}

body {
    color: #5a5a5a;
}

.container {
    padding-bottom: 140px;
}

.popover-example {
    margin: 0 0 10px;
    list-style: none;
}

.popover-example li {
    display: inline-block;
    margin: 4px;
    padding: 0px;
}

.btn:focus {
    outline: none;
}

.modExample .btn {
    margin: 4px 8px 4px 0;
}

.thumb {
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    display: block;
    animation: ease-out;
    border: white;
}

.custom-info {

}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.custom-animation {
    box-shadow: 2px 2px 2px;
    transform: translatey(-2px) !important;

}

.card-img:hover {
    box-shadow: 4px 4px 4px #EEBB54;
    border: white;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(-90deg);
}

.custom-color {
    color: #1C2862;
    font-family: Georgia, serif;
}


.font-family-label {
    font-family: monospace;
    color: black;

}

.font-family-label:hover {
    color: #D64045;
}

.navbar-brand small {
    display: block;
    font-size: 10px;
}

.custom-title {
    color: white;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }

    .search-box {
        width: 300px !important;
    }
}

.custom_search {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==) no-repeat scroll top left white;
    background-position: left;
    padding-left: 25px;
    position: absolute;

}

#histogramSlider {
    max-width: 723px;
    margin: auto;
}





