.errorlist li {
    color: #6fe2c1;
}

.bg-custom {
    background-color: #6d7fcc;
}

.bg-footer {
    background-color: #ffffff;
}

body {
    color: #5a5a5a;
}

.container {
    padding-bottom: 140px;
}

.popover-example {
    margin: 0 0 10px;
    list-style: none;
}

.popover-example li {
    display: inline-block;
    margin: 4px;
    padding: 0px;
}

.btn:focus {
    outline: none;
}

.modExample .btn {
    margin: 4px 8px 4px 0;
}

.thumb {
    background-color: #fff;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    display: block;
    animation: ease-out;
    border: white;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.custom-animation {
    box-shadow: 2px 2px 2px;
    transform: translatey(-2px) !important;

}

.card-img:hover {
    box-shadow: 4px 4px 4px #d8d826;
    border: white;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.custom-item[aria-expanded="false"] .fa-caret-down {
    display: inline-block;
    transition: .5s transform ease-in-out;
    transform: rotate(-90deg);

}

.custom-color {
    color: white;
    font-family: Poppins;
}


.font-family-label {
    font-family: monospace;
    color: white;

}

.font-family-label:hover {
    color: #D64045;
}

.font-family-label::after {
    color: #D64045;
}

.navbar-brand small {
    display: block;
    font-size: 10px;
}

.custom-title {
    color: #141414;
    font-family: "PT Sans Caption";
}

.modal-title {
    color: white;
    font-family: "PT Sans Caption";
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }

    .search-box {
        width: 300px !important;
    }
}

.custom_search {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==) no-repeat top 50% left 2% white padding-box;
    padding-left: 28px;
    position: absolute;
    border-color: #d6d8d9;
    border-radius: 10px;
    box-shadow: #d6d8d9;
    font-family: "PT Sans Caption";
    font-size: 14px;

}

#histogramSlider {
    max-width: 723px;
    margin: auto;
}

/* UI slider*/
.ui-widget-header {
    background: #D64045;
}

.ui-widget-content {
    background: #f1f1f1;
}

.ui-widget.ui-widget-content {
    border: antiquewhite !important;
    height: 3px;
}

.ui-slider-handle {
    width: 8px;
    height: 14px;
}

.ui-slider-range {
    height: 3px !important;
    top: 1px !important;
    margin-left: 2px;
}

#slider-range .ui-slider-handle {
    outline: 0;
    background: #D64045;
    border-radius: 50%;
    top: -.4em;
}

.main-cards {
    border-radius: 10px;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.article-section {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;

}

.article-section:after {
    display: block;
}

.custom-bottom, .article-section:after {
    height: 50px;
}

.custom-bottom {
}

.custom-button {
    border-radius: 10px;
    box-shadow: #d6d8d9;
    border-color: #d6d8d9;
}

.custom-scroll {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    overflow-y: auto;
    background: #FAF9F9;
    overflow-x: hidden;
}

.custom-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
    overflow-y: auto;
}

.layout {
    background: #7386D5;
}

.custom-item {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.menu-item {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.popover-content {
    background-color: #fafafa;
}

.modal-header {
    background-color: #6d7fcc;
    padding: 16px 16px;
    color: #FFF;
    border-bottom: 2px dashed #6d7fcc;

}

/* Important part */
/*.modal-dialog{*/
/*    overflow-y: initial !important*/
/*}*/
.modal-text {
    color: #1F1F1F;
    font-family: "PT Sans";
    font-size: 12px;
    text-align: justify;

}

.modal-body {
    /*height: 80vh;*/
    overflow-y: auto;
}

.zoom-in-image {
    position: relative;
    overflow: hidden;
    border: 1px solid #9fcdff;
    width: 360px;
    margin: 10px;
    border-radius: 10px;
    align-content: center;
}

.zoom-in-image img {
    display: block;
}

.zoom-in-image .fa-search-plus {
    position: absolute;
    bottom: 2px;
    z-index: 2;
    left: 45%
}

.zoom-in-image .fa-search-minus {
    position: absolute;
    bottom: 2px;
    z-index: 2;
    right: 45%
}

#selDataset {
    font-family: 'PT Sans';
}

:focus {
    outline: none;
}

